/tmp
/log
*.json
.env
.ruby-version
.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
.bundle
db/dump
.rvmrc
public/system/*
public/maptiles/*
attachments
.env
.env.development
.env.oldone
.powrc
*dump
